body {
    font-family: "BNPP Sans", sans-serif;
    height: 100vh;
    width: 100vw;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

.app {
    display: flex;
    flex-direction: column;
    min-width: 100vw;
    min-height: 100vh;
    padding: 0 0 0 0;
    margin: auto auto auto auto;
}
