.component-button-group .external-button {
    opacity: 0;
    transition: opacity 0.50s ease;
    pointer-events: none;
}

.component-button-group:hover .external-button {
    opacity: 1;
    pointer-events: auto;
}
