.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 45px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 2000;
    background: rgba(250,250,250,0.9);
    border-top: 1px solid #ccc;
    box-sizing: border-box;
    padding: 5px 5px 5px 5px;
    margin: 0 0 0 0;
}

.footer-button {
    z-index: 2100;
}

.footer .collapse,
.footer .collapsing {
    position: fixed !important;
    bottom: 45px;
    left: 0;
    right: 0;
    width: 100%;
    pointer-events: none;
    overflow: visible !important;
    z-index: 1998;
}

.footer-panel {
    position: fixed !important;
    bottom: 45px;
    overflow: auto;
    max-height: 80vh;
    border-radius: 6px 6px 0 0;
    background: white;
    z-index: 1999;
    pointer-events: auto;
}

.footer-panel-left {
    left: 0;
    width: 20vw;
}

.footer-panel-right {
    right: 0;
    width: 80vw;
}
