.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: rgba(250,250,250,0.9);
    border-bottom: 1px solid #ccc;
    padding: 5px 5px 5px 5px;
    margin: 0 0 0 0;
}

.header-information-block {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

.header-logo {
    padding: 0 0 0 0;
    margin: auto 10px auto 5px;
}

.header-image {
    height: 50px;
    width: 50px;
    padding: 0 0 0 0;
    margin: auto auto auto auto;
}

.header-title-team {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0 15px 0 0;
    margin: auto auto auto auto;
}

.header-title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-size: 32px;
    font-weight: bold;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

.header-team {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-size: 18px;
    font-weight: normal;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

.header-description {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-size: 24px;
    font-weight: normal;
    border-left: 1px solid black;
    padding: 0 0 0 15px;
    margin: auto auto auto auto;
}

.header-navigation-block {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

.header-navigation-bar {
    cursor: pointer !important;
    background-color: white !important;
    padding: 0 0 0 0 !important;
    margin: auto auto auto auto !important;
}

.header-navigation-button,
.header-navigation-button-tab,
.header-navigation-button-tab-b,
.header-navigation-dropdown .btn {
    background-color: white !important;
    border: none !important;
    color: black !important;
    box-shadow: none !important;
    padding: 10px 10px 10px 10px !important;
    margin: 0 0 0 0 !important;
}

.header-navigation-group {
    background-color: white !important;
    border: 1px solid black !important;
    border-radius: 6px !important;
    padding: 0 0 0 0 !important;
    margin: auto 15px auto 15px !important;
}

.header-navigation-button-tab-b i {
    opacity: 0 !important;
    transition: opacity 0.50s ease !important;
}

.header-navigation-group:hover .header-navigation-button-tab-b i {
    opacity: 1 !important;
    transition: opacity 0.50s ease !important;
}

.header-navigation-dropdown .dropdown-menu {
    background-color: white !important;
    border: 1px solid black !important;
    border-radius: 6px !important;
    padding: 0 0 0 0 !important;
    margin: 2px 0 0 0 !important;
    transform: translateX(calc(-100%));
}

.header-navigation-dropdown .dropdown-item {
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between !important;
    align-items: center !important;
    padding: 4px 8px 4px 8px !important;
    margin: 0 0 0 0 !important;
    width: 100% !important;
    box-sizing: border-box !important;
}

.header-navigation-dropdown .dropdown-item:hover .header-navigation-dropdown-button-tab-b i {
    opacity: 1 !important;
    transition: opacity 0.50s ease !important;
}

.header-navigation-dropdown .dropdown-item .header-navigation-dropdown-button-tab-b i {
    opacity: 0 !important;
    transition: opacity 0.50s ease !important;
}

.header-navigation-history-block {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0 0 0 0;
    margin: auto auto auto 15px;
}

.header-control-block {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0 0 0 0;
    margin: auto 5px auto auto;
}
