html, body {
    height: 100%;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

body {
    font-family: "BNPP Sans", sans-serif;
    overflow: hidden;
}

.app {
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
