.form-page-content {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.form-page-buttons {
    flex: 0 1 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px auto 20px auto;
}

.form-page-button {
    width: fit-content;
    margin: auto 20px auto 20px;
}
